[defaults]
inventory = inventory
roles_path = /home/ubuntu/ansible-config-mgt/roles
collections_path = /home/ubuntu/ansible-config-mgt/collections
host_key_checking = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
